# --- Jupyter Notebooks ---
.ipynb_checkpoints/
*/.ipynb_checkpoints/
lista3/runs/*
lista3/models/*
lista3/data/*

# --- Python ---
__pycache__/
*.py[cod]
*$py.class

.env/
.venv/
env/
venv/

# --- VS Code ---
.vscode/
